body{
    background-image:  linear-gradient(to right, rgb(148, 226, 178) 1%, rgb(2, 255, 200) 12%, rgba(21, 210, 235, 0.22) 70%,
     rgba(16, 227, 255, 0.22) 100%), url('../images/IR10.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
        
}
h1{
    position: relative;
    font-size: 300%;
}

#div01{
    font-weight: bolder;
font-size: 67px;
margin-left: 10%;
}
#div02{
    font-weight: bolder;
        font-size: 60px;
    margin-left: 20%;
}

#input1{
    border-radius: 20px;
}

#sp1{
 color: crimson;   
}
#sp2{
    color: darkblue;
}
#sp3{
    color: coral;
}
#sp4{
    color: blueviolet;
}
#sp5{
    color: chartreuse;
}
#sp6{
    color: darkgray;
}
#sp7{
    color: brown;
}
#sp8{
    color: rgb(255, 238, 0);
}
#sp9{
    color: magenta;
}
#sp11{
    color: navy;
}
#sp12{
    color: seagreen;
}
#sp13{
    color: red;
}



#sp21{
    color: crimson;   
   }
   #sp22{
       color: darkblue;
   }
   #sp23{
       color: coral;
   }
   #sp24{
       color: blueviolet;
   }
   #sp25{
       color: chartreuse;
   }
   #sp26{
       color: darkgray;
   }


#body{
    margin-top:5%;margin-left: 0%;
}

#div1{
    width: fit-content;
}

#div2{
    float:left;
}



#div3{
    float: left;margin-right: 15px;
}

#div4{
    margin-top: 70px;margin-left: 45%;
}

#btn1{
    font-size: larger;font-weight: bolder;
}




.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
